.verticalContainer {
    display: flex;
    flex-direction: column;

    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;

    background-color: var(--mantine-color-surface-5);
    color: var(--mantine-color-text-2);
}

.horizontalContainer {
    display: flex;
    flex-direction: row;

    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

.dashboardMain {
    padding: 1rem 2rem;
    width: 100%;

    color: var(--mantine-color-text-0);
}
